@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-color: #010221;
}

/* Cabeçario  */

header {
    background-image: url('../img/background.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 120px;
}


.container {
    max-width: 1400px;
    max-height: 600px;
    padding: 0 2%;
    margin: 0 auto;
    padding-top: 20px;
}

.menu-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo {
    position:relative;
    background-image: url(../img/logo_teste.png);
    width: 140px; 
    height: 100px;
    background-size: 100% 100%; /* Oculpa todo o espaço */
    float:left; /* Posiciona o elemento  */
}

.desktop{
    float: right; 
    display: flex;
    align-items: center;
}

.desktop ul{
    list-style-type: none;
    padding: 20px;
    border-radius: 100px ;
    background-color: white;
}

.desktop li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.desktop a{
    color: #010221;
    transition: 300ms ease-out; /* Definine uma animação onde começa rapido e termina lenta */
}

.desktop a:hover{ /* Animação navbar */
    color: #0A7373;
    transform: scale(1.1);
}

/* Mobile navbar */

.mobile{   
    display: none;
}

.mobile ul {
    background-color: #0A7373;
    z-index: 1;
    list-style-type: none;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 50px 0 30px 0;
    top: 0;
    display: none;
}
  
.mobile li {
    padding: 0.5%;
}

.mobile a{
    text-decoration: none;
}

.mobile i{
    position: fixed;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    transition: all ease-in 0.1s;
    cursor: pointer;
    right: 5%;
    top: 20px;
}

/*  */

.chamada-mkt{
    padding: 170px 0;
}

.chamada-mkt h2{
    font-size: 45px;
    color:#0A7373;
}

.chamada-mkt p{
    font-size: 20px; 
    color: white;
    text-align: justify;
}

.chamada-mkt input{
    margin-top: 15px;
}

.chamada-mkt input[type=email]{
    width: 250px;
    height: 45px;
    border-radius: 100px;
    font-size: 15px;
    text-align: center;
}

.chamada-mkt input[type=submit]{
    height: 45px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer; /* Deixa o mouse quando passa em cima */
    background-color: #C43302;
    border-radius: 100px;
    margin-left: 10px;
}

.chamada-mkt input[type=email]:focus{outline: 0;}

/* Section 1 */

.sessao-01{
    text-align: center;
    padding: 10px 0;
    background-color: #010221;
}

.sessao-01>.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sessao-01 img{
    float: right;
    width: 40%;
    box-shadow: rgba(237, 170, 37, 0.4) 5px 3px, rgba(237, 170, 37, 0.3) 10px 6px, rgba(237, 170, 37, 0.2) 15px 9px, rgba(237, 170, 37, 0.1) 20px 12px, rgba(237, 170, 37, 0.05) 25px 15px;
    /* sombra em degrade */
}

.clear{
    clear: both; /* Não deixa elementos flutuantes dentro do html, obrigando eles a seguirem a div */
}

.desc-produto {
    margin-top: 60px;
    padding: 0 15px;
    float: left;
    width: 60%;
}

.desc-produto h3{
    color: #C43302;
    font-size: 40px;
}

.desc-produto p{
    text-align: justify;
    padding: 3%;
    font-size: 18px;
    color: white;
    line-height: 27px;
}

/* Section 2 */

.sessao-02 > .container{
    background-image: url(../img/index_img/timhenson.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 1200px;
    min-height: 400px;
    margin-top: 1%;
    padding: 0;
    border: solid 3px black;
    padding-top: 0;
}

.sessao-02{
    padding: 15px 0;
    background-color: #010221;
}

.feedback{
    position: absolute;
    left: 40%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: -15px;
    max-width: 700px;
    padding: 15px;
    box-shadow: -4px 2px 5px 8px rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(5px);
}

.feedback p{
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    color: #010221;
}

/* Section 3 */

.sessao-03{
    margin-top: 3%;
    background-color: #EDAA25;
}

.sessao-03 h1{
    color:white;
    text-align: center;
    padding-top: 2%;
    font-size: 40px;
}

.sessao-03 > .container{
    display: flex;
    justify-content: space-between; /* alinha horizontalmente */
    align-items: stretch;
    padding-bottom: 2%;
}

.card{
    margin-top: 1%;
    width: 30%;
    background-color: #0A7373;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{ /* Sombra do card */
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.7);
    transition: 0.5s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(17, 17, 17, 0.7);
}

.card img{
    background-color: #010221;
    width: 100%;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 5%;
    color:#010221;
}

.text-box h2{
    text-align: center;
}

.text-box p{
    text-align: justify;
}

.text-box button {
    margin-top:10px;
    background-color: #C43302;
    color: #010221;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* adiciona transição suave */
  }
  
.text-box button:hover {
    background-color: #EDAA25;
}

/* Footer */

footer{
    min-height: 150px;
}

footer h3{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
}

.logos{
    text-align: center;
}

.logos img{
    display: inline-block;
    width: 23%;
    padding: 2%;
}

footer p{
    margin-right: 15px;
    text-align: right;
    color: white;
}

.contato{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
} 

/* ---------------------- Versão Mobile ---------------------- */



@media screen and (max-width: 1024px) {

    .container {
        max-width: 1024px;
        max-height: max-content;
        padding-top: 10px;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .logo {
        width: 110px;
        height: 70px;
    }
   
    .chamada-mkt{
        text-align: center;
        padding: 50px 0;
    }
 
    .chamada-mkt p {
        font-size: 0.7em;
        padding-bottom: 2vh;
    }

    .chamada-mkt h2 {
        font-size: 1.5em;
        color: #0A7373;
    }

    .chamada-mkt input[type=email]{
        width: 30%;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 0.8em;
        min-width: 150px;
    }

    .chamada-mkt input[type=submit]{
        width: 15%;
        font-size: 0.8em;
        min-width: 100px;
    }
   
    /* sessao 1  */

    .sessao-01>.container{
        flex-direction: column;
    }

    .desc-produto{
        width: 100%;
    }

    .desc-produto h3 {
        font-size: 2em;
    }

    .desc-produto p {
        font-size: 1em;
    }

    .sessao-01 img{
        display: block;
        width: 80%;
        max-width: 500px;
        float: none;
    }

    /* sessao 02 */
    
    .sessao-02>.container{
        display: flex;
        align-items: center;
    }

    .feedback{
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%,-50%);
        width: 80%;
    }

    .feedback p{
        font-size: 1em;
    }

    /* sessao 03 */

    .sessao-03 > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2%;
        flex-direction: column;
    }

    .sessao-03 h1{
        font-size: 2em;
    }

    .card{
        width: 80%;
        margin-bottom: 30px;
        border: solid black;
    }

    .text-box{
        padding: 3%;
    }

    /* Footer */

    footer h3 {
        font-size: 1.5em;
    }

    .contato h3 {
        font-size: 1.5em;
    }

    .logos{
        display: grid;
    }

    .logos img{
        width: 40%;
    }

    footer p {
        margin-right: 0px;
        margin-left: 10px;
        margin-top: 20px;
        text-align: left;
    }

}

